@{ 
    Layout = null;
}

<div style="text-align:center">
    <h2>UnAuthorized User</h2>


    <p>Unauthorized User Please login s</p>
    <a class="btn btn-large btn-primary" href="@Url.Action("Login", "Login")"><span class="text">Redirect To Login</span></a>
</div>

