
@model OnRamp.Model.Models.Customers
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style type="text/css">
        input.wrong-field {
            border: 1px solid red;
        }

        span.wrong-field {
            color: #FF0000;
        }
    </style>
</head>
<div class="form-horizontal">
    <h4>Customers</h4>
    <hr>
    <div class="form-group hidden">
        <label class="control-label col-md-2" for="Customer_ID">Customer ID</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Customer_ID" name="Customer_ID" type="hidden" value="" data-bind="value: Customer_ID">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="Customer_Name">Customer Name<span class="required">*</span></label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Customer_Name" name="Customer_Name" type="text" value="" data-bind="value: Customer_Name,validationElement: Customer_Name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="Customer_Email">Customer Email<span class="required">*</span></label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Customer_Email" name="Customer_Email" type="text" value="" data-bind="value: Customer_Email,validationElement: Customer_Email">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="Customer_Telephone_Number">Customer Telephone_Number</label>
        <div class="col-md-10">
            <input maxlength="10" class="form-control text-box single-line" id="Customer_Telephone_Number" name="Customer_Telephone_Number" type="text" value="" data-bind="value: Customer_Telephone_Number">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" data-bind="click: createCustomer" value="Add" class="btn green">
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/assets/knockoutjs/KOCreateCustomer.js"></script>



