
@model OnRamp.Model.Models.Customers
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-horizontal">
    <h4>Customers</h4>
    <hr>
    <div class="form-group hidden">
        <label class="control-label col-md-2" for="Customer_ID">Customer_ID</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Customer_ID" name="Customer_ID" type="hidden" value="" data-bind="value: Customer_ID">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="Customer_Name">Customer_Name</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Customer_Name" name="Customer_Name" type="text" value="" data-bind="value: Customer_Name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="Customer_Email">Customer_Email</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Customer_Email" name="Customer_Email" type="text" value="" data-bind="value: Customer_Email">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="Customer_Telephone_Number">Customer_Telephone_Number</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Customer_Telephone_Number" name="Customer_Telephone_Number" type="text" value="" data-bind="value: Customer_Telephone_Number">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" data-bind="click: createCustomer" value="Add" class="btn green">
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/assets/knockoutjs/KOCreateCustomer.js"></script>



