@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Customer</h2>

<p>
    @Html.ActionLink("Add Customer", "Add")
</p>
<table id="customertable" class="table table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                S.no
            </th>
            <th>
                CustomerName
            </th>
            <th>
                CustomerEmail
            </th>
            <th>
                CustomerTelephoneNumber
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: customers">
        <tr>
            <td data-bind="text: ($index() + 1)"></td>
            <td data-bind="text: Customer_Name"></td>
            <td data-bind="text: Customer_Email"></td>
            <td data-bind="text: Customer_Telephone_Number"></td>
            <td>
                <a data-bind="attr: { 'href': '@Url.Action("Edit", "Customer")/' + Customer_ID }" class="btn-link">Edit</a>
                <a class="btnDelete" data-bind="attr: { 'id': Customer_ID }" id=Customer_ID>Delete</a>
            </td>
        </tr>
    </tbody>
</table>

<script src="~/assets/knockoutjs/KOListCustomer.js"></script>