
@model OnRamp.Model.Models.Suppliers

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style type="text/css">
        input.wrong-field {
            border: 1px solid red;
        }

        span.wrong-field {
            color: #FF0000;
        }
    </style>
</head>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">
                    Add Supplier
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group hidden">
                            <label class="control-label col-md-2" for="Supplier_ID">Supplier ID</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="Supplier_ID" name="Supplier_ID" type="hidden" value="" data-bind="value: Supplier_ID">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="Supplier_Name">Supplier Name<span class="required">*</span></label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="Supplier_Name" name="Supplier_Name" type="text" value="" data-bind="value: Supplier_Name,validationElement: Supplier_Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="Supplier_Email">Supplier Email<span class="required">*</span></label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="Supplier_Email" name="Supplier_Email" type="text" value="" data-bind="value: Supplier_Email,validationElement: Supplier_Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="Supplier_Telephone_Number">Supplier Telephone Number<span class="required">*</span></label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="Supplier_Telephone_Number" name="Supplier_Telephone_Number" type="text" value="" data-bind="value: Supplier_Telephone_Number,Supplier_Telephone_Number">
                            </div>
                        </div>                        
                    </div>
                    <div class="form-actions right1">
                        <input type="button" data-bind="click: createSupplier" value="Add" class="btn green">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/assets/knockoutjs/KOCreateSupplier.js"></script>




