@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Supplier</h2>

<p>
    @Html.ActionLink("Add Supplier", "Add")
</p>
<table id="suppliertable" class="table table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                S.no
            </th>
            <th>
                SupplierName
            </th>
            <th>
                SupplierEmail
            </th>
            <th>
                SupplierTelephoneNumber
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: suppliers">
        <tr>
            <td data-bind="text: ($index() + 1)"></td>
            <td data-bind="text: Supplier_Name"></td>
            <td data-bind="text: Supplier_Email"></td>
            <td data-bind="text: Supplier_Telephone_Number"></td>
            <td>
                <a data-bind="attr: { 'href': '@Url.Action("Edit", "Supplier")/' + Supplier_ID }" class="btn-link">Edit</a>
                <a class="btnDelete" data-bind="attr: { 'id': Supplier_ID }" id=Supplier_ID>Delete</a>
            </td>
        </tr>
    </tbody>
</table>

<script src="~/assets/knockoutjs/KOListSupplier.js"></script>