@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Supplier</h2>

<p>
    @Html.ActionLink("Add Supplier", "Add")
</p>
<table id="suppliertable" class="table table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                S.no
            </th>
            <th>
                SupplierName
            </th>
            <th>
                SupplierEmail
            </th>
            <th>
                SupplierTelephoneNumber
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: suppliers">
        <tr>
            <td data-bind="text: ($index() + 1)"></td>
            <td data-bind="text: Supplier_Name"></td>
            <td data-bind="text: Supplier_Email"></td>
            <td data-bind="text: Supplier_Telephone_Number"></td>
            <td>
                <a data-bind="attr: { 'href': '@Url.Action("Edit", "Supplier")/' + Supplier_ID }" class="btn-link">Edit</a>
                <a class="btnDelete" data-bind="attr: { 'id': Supplier_ID }" id=Supplier_ID>Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<script>
    $(function () {
        $("#liSupplier").addClass("active");
        ko.applyBindings(modelView);
        modelView.viewSuppliers();

        $(document).on("click", ".btnDelete", function (e) {
            bootbox.confirm({
                message: "Are you sure! You want remove this supplier?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.get("/Supplier/Delete?id=" + e.target.id, function (data) {
                            if (data) {
                                bootbox.alert("Supplier deleted successfully!");
                               // $("#suppliertable tbody").empty();
                               // this.suppliers = [];
                                modelView.viewSuppliers();
                            }
                        })
                    }
                }
            });
        });
    });



    var modelView = {
        suppliers: ko.observableArray([]),
        viewSuppliers: function () {
            var thisObj = this;
            try {
                $.ajax({
                    url: '/Supplier/GetList',
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        thisObj.suppliers(data); //Here we are assigning values to KO Observable array
                        //$("#suppliertable").DataTable();
                        $('#suppliertable').DataTable({
                            dom: 'Bfrtip',
                            "pageLength": 20,
                            "lengthChange": true,
                            buttons: [
                                {
                                    extend: 'excelHtml5', exportOptions: {
                                        columns: [0, 1, 2, 3]
                                    }
                                },
                                {
                                    extend: 'csvHtml5', exportOptions: {
                                        columns: [0, 1, 2, 3]
                                    }
                                },
                                {
                                    extend: 'pdfHtml5', exportOptions: {
                                        columns: [0, 1, 2, 3]
                                    }
                                }
                            ]
                        });
                    },
                    error: function (err) {
                        alert(err.status + " : " + err.statusText);
                    }
                });
            } catch (e) {
                //window.location.href = '/Home/Read/';
            }
        }
    };




</script>
